<?xml version="1.0"?>
<psalm
    errorLevel="7"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns="https://getpsalm.org/schema/config"
    cacheDirectory="/tmp">

    <projectFiles>
        <directory name="."/>
        <ignoreFiles allowMissingFiles="true">
            <directory name="vendor/"/>
            <directory name="var/"/>
        </ignoreFiles>
    </projectFiles>

    <issueHandlers>
        <PropertyNotSetInConstructor>
            <errorLevel type="suppress">
                <directory name="test/"/>
            </errorLevel>
        </PropertyNotSetInConstructor>
    </issueHandlers>
</psalm>
